<footer>
    <div class="address">
        <div class="info-box">
            <p>Address</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, optio. Numquam, laudantium.</p>
        </div>
        <div class="info-box">
            <p>Reservation</p>
            <p>+91 9090909090 / 9090909090</p>
        </div>
    </div>
    <div class="info-box ">
        <p>Opening</p>
        <p>Everyday - 10AM - 09PM</p>
    </div>
    <div class="help">
        <div class="info-box">
            <p>General</p>
            <p>Menu</p>
            <p>Service</p>
            <p>Reservation</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <!-- (click)="onContactUs()" -->

        <div class="info-box">
            <p>Support</p>
            <p>FAQ</p>
            <p>Online Chat</p>
            <!-- Navigate to Route Programmatically -->
            <i class="fa-solid fa-envelope" (click)="onContactUs()"></i>
        </div>
    </div>
</footer>