<div class="ingredient-container">
    <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
            <li>Mixed greens (spinach, arugula, or romaine)</li>
            <li>Cherry tomatoes (halved)</li>
            <li>Cucumbers (sliced)</li>
            <li>Red bell pepper (diced)</li>
            <li>Carrots (shredded)</li>
            <li>Purple cabbage (thinly sliced)</li>
            <li>Avocado (diced)</li>
            <li>Red onion (thinly sliced)</li>
            <li>Chickpeas (cooked or canned, rinsed)</li>
            <li>Sunflower seeds (toasted)</li>
            <li>Pomegranate seeds</li>
            <li>Fresh parsley (chopped)</li>
        </ul>
        <h4>Dressing (Optional):</h4>
        <p>Olive oil, lemon juice, Dijon mustard, salt, and pepper to taste.</p>
    </div>
    <div class="side-img" appHoverEffect>
        <img src="https://images.unsplash.com/photo-1464306208223-e0b4495a5553?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
    </div>
</div>